@model RecipeManager.Models.Recipe
@{
    ViewData["Title"] = "Delete Recipe";
}
<div class="padtop8">
    <h2>Delete Recipe</h2>
</div>
<div>
    <dl class="row padtop12">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            <textarea class="form-control width60" readonly rows="2">@Html.DisplayFor(model => model.Description)</textarea>
        </dd>
    </dl>
    <form asp-action="DeleteRecipe">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3 padtop12">
            <input type="submit" value="Delete Recipe" class="btn btn-danger" />
        </div>
    </form>
</div>
<div class="padtop4">
    <a asp-action="Index">&lt; Back to Recipes</a>
</div>
